.categoryIcon {
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 10%;
}

.categoryIcon span {
    min-height: 50px;
    background-color: white;
    min-width: 100px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.categoryIcon div {
    margin-left: 5px;
    cursor: pointer;
    color: black;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
}

.categoryIcon div:hover {
    cursor: pointer;
    color: red;
}