.category--container {
    border:none;
    overflow-y: scroll;
    display: flex;


}
.S_category--container {
    border: solid 1px gainsboro;
    overflow-y: scroll;
    display: flex;
    background-color: pink;
    fill: gainsboro;

}
#coverImage{
    padding-left: 100px;
    padding-right: 100px;
}