.portal_h1 {
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    top: 12%;
}

.button-wrapper {
    position: relative;
    top: 10px;
    left: 120px;

    display: inline-block;
    flex-direction: column;
    flex: 4;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: left;
    padding-left: 10px;
    padding-right: 0%;
    padding-top: 12%;
}

