.portal_h1 {
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    top: 12%;
}

.button-wrapper {
    position: relative;
    top: 10px;
    left: 120px;

    display: inline-block;
    flex-direction: column;
    flex: 4;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: left;
    padding-left: 10px;
    padding-right: 0%;
    padding-top: 12%;
}

.ant-menu-inline {
    background-color: #091111 !important;
    font-size: 16px;
}

.ant-menu-inline-collapsed {
    background-color: #091111 !important;
    font-size: 16px;
}

.ant-layout-sider-trigger {
    background-color: #1a3133;
}

.ant-tooltip-placement-right a {
    color: #fff
}
