
.App {
    text-align: center;
  }
  
.clock {
    background: url('../assets/apple_basket.jpg') center center/cover no-repeat;
    min-height: 60vh;
    padding-top: 20px;
    justify-content: center;
}
#welcomeText {
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    padding-top: 30px;
    padding-left: 350px;
  
    color: #cddae9;
  }

#clock_position {
    padding-top: 400px;
    padding-left: 50px;
}