.FAQ_QnA_Container {
    margin-left: 17%;
    margin-right: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.FAQ_HEADER_NAME {
    color:rgb(70, 70, 70);
    font-family: 'Times New Roman', Times, serif;
}

.contactUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contactUsButtonLink {
    color: white;
}