.home-container {
    margin-top: 88px;
    margin-bottom: 88px;
}

.home-title {
    margin-bottom: 56px;
}

.welcome-container {
    background: url('../assets/welcome.png') center center/cover no-repeat;
    height: 64vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    z-index: -1;
}

.welcome-header {
    /* Institute of Education and Regenerative Communities */
    width:100%;
    min-height: 64vh;
    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}