:root {
  --primary: rgb(40, 71, 52);
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  display: flex;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: -1;
}

.btn--primary {
  background-color: var(--primary);
  color: #ffffff;
  border: 1px solid var(--primary);
  border-radius: 20px;
  opacity: 0.8;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  z-index: -1;
  
}

.btn--round {
  /* Rectangle 5 */
  background-color: #b40e0e;
  border-radius: 50px;

  color: #fff;
  opacity: 0.8;
  z-index: -1;
}

.btn--black {
  /* Rectangle 5 */
  background-color: #000000b2;
  border-radius: 50px;
  
  color: #fff;
  opacity: 0.7;
  z-index: -1;
}

.btn--donate {
  width: 170px;
  height: 140px;
  color: #242424;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  background-color: rgba(157, 176, 148, 0.73);
  border-radius: 20px;
}

.btn--circle {
  width: 185px;
  height: 185px;
  background-color: #1D5A37;
  color: #fff;
  border-radius: 100px;
  opacity: 0.8;

}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 41px;
  font-size: 20px;
  font-weight: 600;
}

.btn--huge {
  padding: 70px 45px;
  font-size: 35px;
  font-weight: 600;
}
.btn--large:hover,
.btn--medium:hover,
.btn--huge:hover {
  transition: all 0.3s ease-out;
  opacity: 1;

  color: #ffffff;
  transition: 250ms;
}

.btn--category {
  border-radius: 15%;
  background-color: goldenrod;
}