.Time {
    height: 1000px;
    width: 800px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Myriad Pro Regular';
    color: white;
    font-size: 80px;
    }