.Body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Header1 {

    padding-top: 150px;
    position: flex;

   
    align-items: center;
    justify-self: center;
    
    /* Hero H1 */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 80px;
    /* or 143% */
    
    letter-spacing: -0.015em;
    
    color: #000000;
    
}
.button-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

btn1 {
    position: flex;
    padding:50px;

}
btn2 {
    position: flex;
    padding:30px;

}

.payment {
    display: flex;
    padding: 150px;
}

