.event-container {
    display: flex;
    align-items: center;
    object-fit: contain;
    padding-left: 10%;
    padding-bottom: 70px;
  }
.img-container {

    background: url('../assets/calendarIcon.png') center center/cover no-repeat;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.event_info {
    margin-left: 50px;
    flex-basis: content;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: contain;
    justify-content: center;
    

}
p.event_title {
    /* title */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    text-align: left;
    letter-spacing: 0.02em;

    color: #000000;

}

p.event_date {
    /* date */
    /* Date posted */

    font-family: Marcellus;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    text-align: right;
    align-self: right;
    letter-spacing: -0.015em;

    color: #094127;


}

p.event_des {

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #000000;



}

p.event_cat {
    /* Category: Educational */

    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    letter-spacing: 0.02em;

    color: #000000;
}



