.footer {
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


/* row block */
.footer .block{
/* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15%;
    margin-top: -30px;
    width: 50%;
    height: 100%;
    left: 30px;

}

/* List */

.list {
/* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 20%;



/* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}


.list .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;

    position: static;
    /* width: 122px; */
    height: 50px;
    left: 0px;
    top: 100px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;

}

/* Fingertipe */
.list .title .text {
    position: static;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 10px;
    /* identical to box height, or 136% */
    letter-spacing: 0.1px;

    /* light text */
    color: #FFFFFF;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

}

.list .linklist{
    /* Links */

    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: relative;
    width: 105px;
    height: 153px;
    
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 12PX;

 
}
.logos {
    padding-top: 65px;
    padding-left: 50px;
    float: left;
}
.contact {
    display: flex;
    
    flex-direction: column;
    padding-top: 40px;
    padding-left: 100px;
    padding-bottom: 10px;
    padding-right: 100px;
    flex-basis: 300px;


}
.block .contactContainer li{
    display: flex;
    flex-direction: row;
    flex-basis: 500px;
    align-items: center;
    position: static;
    /* width: 70px; */
    height: 24px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    margin-bottom: 30px;
}



.linklist .linkbox {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    padding: 0px;
    
    position: static;
    /* width: 70px; */
    height: 24px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    
}


.linklist li {
/* Home */

    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    list-style: none;
    padding-bottom: 15px;

    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: 0.2px;

    /* light text */
    color: #ffffff;
}
    .linklist li a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;

  }
  
  .linklist li a:hover {
    opacity:1;
  }

.img {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 50;
  }
#twitter {
    left: 9.37%;
    right: 9.37%;
    top: 16.99%;
    bottom: 16.99%;
}
#text1 {
/* 666 Anyplace Ave, Atlanta, Ga */


position: relative;
left: 0%;
right: 48.32%;
top: 23.91%;
bottom: 25.91%;
width: 80px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16x;
line-height: 24px;
padding-top: 30px;
padding-left: 15px;
/* identical to box height, or 150% */
letter-spacing: 0.2px;

/* light text */

color: #FFFFFF;




}