.welcomeSub-container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    justify-content: center;

}
.welcomeSub-container > h1 {
    /* Regenerative land use is the future */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 50;
    font-size: 50px;
  
    display: flex;
    align-items: center;
    padding: 20px;

    color: #423434;
}

.welcomeSub-container .buttons-container {
    height: auto;
    width: 500px;
    display: flex;
    
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    object-fit: contain;
    justify-content: center;
}

.welcomeSub-container .buttons-container but {
    display: flex;
    padding: 10px;
    z-index: auto;
}

 .seperator {
    /* Line 1 */

    display: flex;
    margin-top: 100px;
    width: 1564px;
    height: 0px;
    left: 188px;
    top: 1552px;

    border: 10px solid rgba(157, 176, 148, 0.73);

}

