.bottom-container {
    display: flex;
    width: 100%;
 
  }
  
  #col-1 {
      display: flex;
      flex-direction: column;
    flex: 1;
        padding: 20px;
  }
  
  #col-2 {
    
    display: flex;
      flex-direction: column;
    flex: 1;
        padding: 20px;
  }
  .section_button {
    display: flex;
    width: 100%;
    justify-content: right;

    padding-bottom: 40px;
    
  }